<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" (click)="vis =! vis">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" [ngClass]="{'first':vis}"></span>
            <span class="icon-bar" [ngClass]="{'second':vis}"></span>
            <span class="icon-bar" [ngClass]="{'third':vis}"></span>
        </button>
      <a class="navbar-brand logo-style" routerLink="">DiGiSENSE</a>
    </div>
    <!-- /nav-bar header -->

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li class="active">
          <a routerLink="">
            <span class="fa fa-home fa-fw" aria-hidden="true"></span>Home
          </a>
        </li>

        <li><a routerLink="./Helloworld">About</a></li>
        <li><a>Contact</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Action</a></li>
            <li><a>Another action</a></li>
            <li><a>Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a>Separated link</a></li>
            <li><a>One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Default</a></li>
        <li><a>Static top</a></li>
        <li><a>Fixed top <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->

  </div>
</nav>
