.form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: #5cb85c;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}