<app-header></app-header>
<div class="container">
  <div class="root">

    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span> Favorite</button>
    <button class="btn btn-primary" (click)="getData()" type="button">
        <span class="glyphicon glyphicon-earphone"></span> Http Call
    </button>
    <button class="btn-primary btn" routerLink="88787">Error Page</button>
    <app-button (click)="oneButton()" name="Login"></app-button>
    <app-button (click)="twoButton()">
      <i class="fa fa-facebook fa-fw" aria-hidden="true"></i> FaceBook
    </app-button>
    <app-button class="google-plus" routerLink="./account">
      <i class="fa fa-google-plus fa-fw" aria-hidden="true"></i> Google+
    </app-button>

  </div>
  <form (ngSubmit)="validate(f)" #f="ngForm" autocomplete="off" novalidate name="FormName">

    <app-input type="text" name="username" hint="UserName" ngModel id="name" required minlength="4" maxlength="24" #name="ngModel"></app-input>
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      <div [hidden]="!name?.errors.required">
        Name is required
      </div>
      <div [hidden]="!name?.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div [hidden]="!name?.errors.maxlength">
        Name cannot be more than 24 characters long.
      </div>
    </div>

    <strong>Has input been touched: {{name.touched ? 'Yes' : 'No'}}</strong><br>
    <strong>Is input untouched: {{name.untouched ? 'Yes' : 'No'}}</strong><br>
    <strong>Is input dirty: {{name.dirty ? 'Yes' : 'No'}}</strong> <br>
    <strong>Is input pristine: {{name.pristine ? 'Yes' : 'No'}}</strong>



    <app-input type="password" name="Password" hint="Password" ngModel required></app-input>
    <app-input type="text" name="email" hint="Enter your Email" ngModel></app-input>
    <app-input type="tel" name="date" hint="Date of Birth" ngModel></app-input>

    <div class="radio-group">
      <app-radio [(ngModel)]="gender" v="male" name="gender" required></app-radio>
      <app-radio [(ngModel)]="gender" v="Female" name="gender" required></app-radio>
      <app-radio [(ngModel)]="gender" v="Cross" name="gender" required></app-radio>
      <app-radio [(ngModel)]="gender" v="Kolx" name="gender" required></app-radio>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est laborum quaerat aliquam, autem repellat facilis asperiores
      repudiandae. Possimus fuga suscipit dolorem expedita, voluptatibus debitis minus, fugit molestias maiores culpa.
    </p>
    <app-button name="submit" type="submit"></app-button>
  </form>




  <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

  <template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </template>
</div>

<router-outlet></router-outlet>


<!-- <h1> Login Page </h1>
<a routerLink="/">Home Page</a>
<a routerLink="/forgotusername">Forgot Username</a>
<a routerLink="/forgotpassword">Forgot Password</a> -->
